@use "sass:map";
@use "sass:color";

/* Colors */
$bg-color: #33404d;
$primary-color: #5865F2;
$text-color: white;
$card-bg: color.adjust(#1f2933, $lightness: 2%);
$border-color: #3f4d5a;
$button-bg: #1f2933;
$button-color: white;
$alert-bg: $card-bg;
$navbar-bg: $card-bg;
$colors: (
    primary: $primary-color,
    secondary: $card-bg,
    grey: #6c757d,
    success: #28a745,
    danger: #dc3545,
    warning: #ffc107,
    info: #17a2b8,
    light: #f8f9fa,
    dark: color.adjust(#1f2933, $lightness: -5%)
);
$sidebar-bg: map.get($colors, dark);
$sidebar-group-title-color: rgb(156, 147, 134);
$code-bg: #2b2d31;

/* Sizing */
$border-width: 2px;
$sizing-topval: 5;
$font-sizes: (
    xs: 0.5rem,
    sm: 0.75rem,
    md: 1rem,
    lg: 1.5rem,
    xl: 2rem
);
$sidebar-width: clamp(200px, 20vw, 350px);

/* other */
$font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size: 1rem;
$displays: (flex, inline-flex, grid, inline-grid, block, inline-block, table, table-row, table-cell, table-column, table-column-group, table-header-group, table-footer-group, table-caption, table-row-group, none);
$sizes: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);
$spacing: 1rem;
$sides: (t: top, r: right, b: bottom, l: left);
