@use "sass:map";
@use "../variables" as *;


.card {
    background: $card-bg;
    border-radius: 10px;
    border: $border-width solid $border-color;
    min-height: 50px;
    margin: 1rem;

    & .card-title {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
        width: 100%;
    }

    & .card-title-alt {
        font-size: 1.8rem;
        font-weight: 700;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-color: map.get($colors, dark);
    }

    & .card-body {
        padding: 1rem;
        min-height: 1rem;
    }
}
