@use "../variables" as *;


.navbar {
    background-color: $navbar-bg;
    color: $text-color;
    display: flex;
    justify-content: space-between;
    position: relative;
    top:0;
    width: 100%;
    z-index: 1000;
    padding: $spacing * 0.5;
    height: 2.5rem;
    & .navbar-brand {
        color: $text-color;
        font-size: 1.25rem;
        font-weight: bold;
        text-decoration: none;
        justify-content: center;
        height: 32px;
        display: flex;
    }
}
